<div class="container-md pt-5" id="contenedor">
    <div class="card">
        <div class="card-body">
            <h3 class="mb-4">Registrarse</h3>
            <form>
                <div class="form-row row justify-content-md-center">
                    <div class="col mt-3">
                        <label for="exampleFormControlInput1">Nombre(s)</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" />
                    </div>
                </div>

                <div class="form-row row justify-content-md-center">
                    <div class="col mt-3">
                        <label for="exampleFormControlInput1">Apellido Paterno</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" />
                    </div>
                    <div class="col mt-3">
                        <label for="exampleFormControlInput1">Apellido Materno</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" />
                    </div>
                </div>

                <div class="form-row row justify-content-md-center">
                    <div class="col mt-3">
                        <label for="exampleFormControlInput1">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="nombre@ejemplo.com" />
                    </div>
                </div>

                <div class="form-row row justify-content-md-center">
                    <div class="col mt-3">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword" />
                    </div>
                    <div class="col mt-3">
                        <label for="inputPassword">Ingrese De Nuevo Su Contraseña</label>
                        <input type="password" class="form-control" id="inputPassword" />
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary mr-3">Terminar Registro</button>
        </div>
    </div>
</div>