<div class="modal fade" id="modalFactura" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalFacturaTitle">Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <embed #embebidoFac [src]="" width="500" height="375">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="p-5">
    <h3>Detalle general del producto</h3>
    <div class="row">
        <div class="col-6">
            <table class="table table-dark text-center">
                <tr>
                    <th colspan="2">Datos</th>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>{{ this.producto_info.id }}</td>
                </tr>
                <tr>
                    <th>Registrado por</th>
                    <td>{{ this.producto_info.usr }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ this.producto_info.nombre }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ this.producto_info.desc }}</td>
                </tr>
                <tr>
                    <th>Categorias a las que pertenece</th>
                    <td>
                        <ul *ngIf="this.categorias, else noCategorias">
                            <li *ngFor="let cat of this.categorias">{{ cat.nombre }}</li>
                        </ul>
                        <ng-template #noCategorias>
                            <p>Actualmente este producto no cuenta con categorias</p>
                        </ng-template>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <img class="w-100" src="/static/{{ this.producto_info.imagen_referencia }}"
                alt="{{ this.producto_info.nombre }}">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Existencias de inventario para este producto:</h4>
            <button class="float-right btn btn-success" (click)="this.modo_creacion = !this.modo_creacion;">Añade una
                nueva existencia de este producto</button>
        </div>
        <div class="col-12 mt-3">
            <table class="table table-dark text-center" *ngIf="this.inventario.length > 0; else noInventario">
                <tr>
                    <th rowspan="2">ID</th>
                    <th rowspan="2">Número de Serie</th>
                    <th rowspan="2">No. Factura</th>
                    <th colspan="3">Ubicación</th>
                    <th rowspan="2">Costo</th>
                    <th rowspan="2">Estado</th>
                    <th rowspan="2">Observaciones</th>
                    <th rowspan="2">Proveedor</th>
                    <th rowspan="2">Fecha de Compra</th>
                    <th rowspan="2">Mostrar Factura</th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                </tr>
                <tr *ngFor="let inv of this.inventario; let idx = index">
                    <td>{{ inv.id}}</td>
                    <td>{{ inv.serie }}</td>
                    <td>{{ inv.folio }}</td>
                    <td>{{ inv.unombre }}</td>
                    <td>{{ inv.lat }}</td>
                    <td>{{ inv.lon }}</td>
                    <td>{{ inv.costo }}</td>
                    <td>{{ inv.estado }}</td>
                    <td>{{ inv.observaciones }}</td>
                    <td>{{ inv.proveedor }}</td>
                    <td>{{ inv.f_compra }}</td>
                    <td>
                        <button (click)="this.setpdf('/static/' + inv.archivo_fac);" class="btn btn-secondary"
                            data-toggle="modal" data-target="#modalFactura">Factura</button>
                    </td>
                </tr>
            </table>
            <ng-template #noInventario>
                <h5>No hay existencias para mostrar, intenta creando una.</h5>
            </ng-template>
            <div *ngIf="this.modo_creacion" class="mt-5">
                <h3>Crea una nueva existencia.</h3>
                <form [formGroup]="this.formulario" (ngSubmit)="crearInventario()">
                    <div class="from-group">
                        <label>Número de Serie</label>
                        <input type="text" formControlName="nserie" class="form-control"
                            [ngClass]="{'is-invalid': f.nserie.touched && f.nserie.errors }">
                        <div class="invalid-feedback">
                            <div *ngIf="f.nserie.errors.required">El número de serie es obligatorio</div>
                        </div>
                    </div>
                    <div class="from-group">
                        <label>Número de factura</label>
                        <input type="text" formControlName="nfactura" class="form-control"
                            [ngClass]="{'is-invalid': f.nfactura.touched && f.nfactura.errors }">
                        <div class="invalid-feedback">
                            <div *ngIf="f.nfactura.errors.required">El número de factura es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mt-3">
                            <label for="ubicacionSelect">Ubicación</label>
                            <select class="custom-select" formControlName="ubicacion" id="ubicacionSelect">
                                <option *ngFor="let ubicacion of this.ubicaciones;" [value]="ubicacion.id">
                                    {{ ubicacion.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mt-3">
                            <label for="proveedorSelect">Proveedor</label>
                            <select class="custom-select" formControlName="proveedor" id="proveedorSelect">
                                <option *ngFor="let proveedor of this.proveedores;" [value]="proveedor.id">
                                    {{ proveedor.razsoc }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="from-group">
                        <label>Costo</label>
                        <input type="number" min="0.00" formControlName="costo" class="form-control"
                            [ngClass]="{'is-invalid': f.costo.touched && f.costo.errors }">
                        <div class="invalid-feedback">
                            <div *ngIf="f.costo.errors.required">El costo es obligatorio</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col mt-3">
                            <label for="estadoSelect">Estado</label>
                            <select class="custom-select" formControlName="estado" id="estadoSelect">
                                <!-- Disponible, solicitado, prestado, en mtto, descompuesto -->
                                <option value="1">Disponible</option>
                                <!-- <option value="2">Solicitado</option> -->
                                <!-- <option value="3">Prestado</option> -->
                                <option value="4">Mantenimiento</option>
                                <option value="5">Fuera de servicio</option>
                            </select>
                        </div>
                    </div>
                    <div class="from-group">
                        <label>Observaciones</label>
                        <input type="text" formControlName="observaciones" class="form-control"
                            [ngClass]="{'is-invalid': f.observaciones.touched && f.observaciones.errors }">
                        <div class="invalid-feedback">
                            <div *ngIf="f.observaciones.errors.required">Introduce al menos un caracter.</div>
                        </div>
                    </div>
                    <div class="from-group">
                        <label>Fecha de Compra</label>
                        <input type="date" max="{{ this.fecha | date:'yyyy-MM-dd'}}" formControlName="fecha_compra"
                            class="form-control"
                            [ngClass]="{'is-invalid': f.fecha_compra.touched && f.fecha_compra.errors }">
                        <div class="invalid-feedback">
                            <div *ngIf="f.fecha_compra.errors.required">La fecha de adquisicion es obligatoria</div>
                        </div>
                    </div>
                    <div class="form-row row justify-content-md-center">
                        <div class="col mt-3">
                            <input type="file" class="custom-file-input" id="customFileLang" lang="es"
                                formControlName="factura" class="form-control"
                                [ngClass]="{'is-invalid': submitted && f.factura.errors}" accept="application/pdf"
                                (change)="fileChange($event)">
                            <div *ngIf="submitted && f.factura.errors" class="invalid-feedback">
                                <div *ngIf="f.factura.errors.required">Por favor ingrese un PDF de la factura</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card-footer text-center form-group">
                        <button type="submit" class="btn btn-primary mr-3">Enviar</button>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
    <br><br><br>
</div>