<button class="btn btn-dark mt-2 mr-2" [routerLink]="['/home']">Atrás</button>
<div class="galeria">
    <div class="contenedor-imagenes">
        
        <div *ngIf="globals.rol === 'admin' || globals.rol === 'encargado' " class="imagen">
            <img src="../../../assets/images/altas.jpg" alt="Option 1">
            <a [routerLink]="['/consumible-inventario']" (click) ="esAlta()"><div class="overlay">
                <h2>Altas</h2>
            </div></a>
        </div>
        <div *ngIf="globals.rol === 'admin' || globals.rol === 'encargado' " class="imagen">
            <img src="../../../assets/images/bajas.png" alt="Option 2">
            <a [routerLink]="['/consumible-inventario']" (click) ="esBaja()">
                <div class="overlay">
                    <h2>Bajas</h2><br>
                </div>
            </a>
        </div>
        <div *ngIf="globals.rol === 'admin' || globals.rol === 'encargado' " class="imagen">
            <img src="../../../assets/images/cambios2.jpg" alt="Option 3">
            <a [routerLink]="['/consumible-inventario']" (click) ="esCambio()">
                <div class="overlay">
                    <h2>Cambios</h2>
                </div></a>
        </div>
        <div class="imagen">
            <img src="../../../assets/images/consultas.png" alt="Option 4">
            <a [routerLink]="['/consumible-inventario']" (click) ="esConsulta()"><div class="overlay">
                <h2>Consultas</h2>
            </div></a>
        </div>
        
        <div *ngIf="globals.rol === 'admin'" class="imagen">
            <img src="../../../assets/images/categorias.jpg" alt="Option 7">
            <a [routerLink]="['/categorias']">
                <div class="overlay">
                    <h2>Gestion de Categorías</h2><br>
                </div>
            </a>
        </div>

        <div class="imagen">
            <img src="../../../assets/images/ayuda.jpg" alt="Option 6">
            <a [routerLink]="['/']"><div class="overlay">
                <h2>Ayuda</h2>
            </div></a>
        </div>
    </div>
</div>
