<div class="p-3">
    <h3>Gestión de categorías</h3>
    <button class="float-right btn btn-primary">Añadir categoría nueva</button>
    <br><br>
    <table *ngIf="this.categorias; else nohay" class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <!--  Arreglo que corresponda a cada formulario -->
        <tr *ngFor="let cat of this.categorias; let idx = index">
            <td><input id="id-{{ idx }}" type="text" value="{{ cat.id }}" disabled></td>
            <td><input id="nombre-{{ idx }}" type="text" value="{{ cat.nombre }}" [disabled]="!this.editable[idx]"></td>
            <td><button class="btn btn-secondary" (click)="toggleEdicion(idx)">{{ this.editable[idx] ? 'Terminar' : 'Editar' }}</button></td>
            <td><button class="btn btn-danger" onclick="eliminar(idx)">Eliminar</button></td>
        </tr>
    </table>
    <ng-template #nohay>
        <h3>No tienes registradas categorias</h3>
    </ng-template>
</div>