<div style="padding: 20px; text-align: center; margin-bottom: 10px;">
    <h3 id="ad1">Acerca de</h3>
    <img src="../../../assets/images/logo.png" alt="Logo Wilder">
    <p id="ad2">Salvajemente Organizados!</p>
    <p id="ad3">Wilder®, 2020©</p>
    <b id="ad4">Todos los derechos reservados.</b>
    <p id="ad5"></p>

    <div class="card bg-light mb-3">
        <div class="card-header">Creadores:</div>
        <div class="card-body">
          <p class="card-text">Carlos Daniel Cañedo Garcia</p>
          <p class="card-text">Moises Alejandro Flores Martinez</p>
          <p class="card-text">Jesús Angel Mosqueda Esparza</p>
        </div>
    </div>
</div>
