<div class="row">
    <div class="col-12">
        <h4>Mantenimiento(s) para este producto:</h4>
        <button class="float-right btn btn-success" (click)="this.modo_creacion = !this.modo_creacion;">Añade una
            nuevo mantenimiento</button>
    </div>
    <div class="col-12 mt-3">
        <table class="table table-dark text-center">
            <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Inventario ID</th>
                <th rowspan="2">Costo</th>
                <th rowspan="2">Descripcion</th>
                <th rowspan="2">Proveedor Mtto</th>
                <th rowspan="2">Fecha Inicio</th>
                <th rowspan="2">Fecha Final</th>
            </tr>
            <tr *ngFor="let mant of this.mantenimiento; let idx = index">
                <td>{{ mant.id}}</td>
                <td>{{ mant.serie }}</td>
                <td>{{ mant.folio }}</td>
                <td>{{ mant.unombre }}</td>
                <td>{{ mant.lat }}</td>
                <td>{{ mant.lon }}</td>
                <td>{{ mant.costo }}</td>
            </tr>
        </table>
    </div>
</div>
<div *ngIf="this.modo_creacion" class="mt-5">
    <h3>Crea nuevo mantenimiento.</h3>
    <form [formGroup]="this.formulario_2" (ngSubmit)="crearMantenimiento()">
        <div class="from-group">
            <label>Costo</label>
            <input type="number" min="0.00" formControlName="costo" class="form-control"
                [ngClass]="{'is-invalid': f.costo.touched && f.costo.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.costo.errors.required">El número del costo es obligatorio</div>
            </div>
        </div>
        <div class="from-group">
            <label>Descripcion</label>
            <input type="text" formControlName="descripcion" class="form-control"
                [ngClass]="{'is-invalid': f.descripcion.touched && f.descripcion.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.descripcion.errors.required">La descripcion es obligatoria</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col mt-3">
                <label for="proveedorSelect">Proveedor de Mantenimiento</label>
                <select class="custom-select" formControlName="proveedor_mtto" id="proveedorSelect">
                    <option *ngFor="let proveedor of this.proveedores;" [value]="proveedor.id">
                        {{ proveedor.razsoc }}</option>
                </select>
            </div>
        </div>
        <div class="from-group">
            <label>Fecha de Inicio</label>
            <input type="date" max="{{ this.fecha | date:'yyyy-MM-dd'}}" formControlName="f_inicio"
                class="form-control"
                [ngClass]="{'is-invalid': f.f_inicio.touched && f.f_inicio.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.f_inicio.errors.required">La fecha de inicio es obligatoria</div>
            </div>
        </div>
        <div class="from-group">
            <label>Fecha Final</label>
            <input type="date" min="{{ this.fecha | date:'yyyy-MM-dd'}}" formControlName="f_final"
                class="form-control"
                [ngClass]="{'is-invalid': f.f_final.touched && f.f_final.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.f_final.errors.required">La fecha final es obligatoria</div>
            </div>
        </div>
        <!--
        <div class="from-group">
            <label>Costo</label>
            <input type="number" min="0.00" formControlName="costo" class="form-control"
                [ngClass]="{'is-invalid': f.costo.touched && f.costo.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.costo.errors.required">El costo es obligatorio</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col mt-3">
                <label for="estadoSelect">Estado</label>
                <select class="custom-select" formControlName="estado" id="estadoSelect">
                    
                    <option value="1">Disponible</option>

                    <option value="4">Mantenimiento</option>
                    <option value="5">Fuera de servicio</option>
                </select>
            </div>
        </div>
        <div class="from-group">
            <label>Observaciones</label>
            <input type="text" formControlName="observaciones" class="form-control"
                [ngClass]="{'is-invalid': f.observaciones.touched && f.observaciones.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.observaciones.errors.required">Introduce al menos un caracter.</div>
            </div>
        </div>
        <div class="from-group">
            <label>Fecha de Compra</label>
            <input type="date" max="{{ this.fecha | date:'yyyy-MM-dd'}}" formControlName="fecha_compra"
                class="form-control"
                [ngClass]="{'is-invalid': f.fecha_compra.touched && f.fecha_compra.errors }">
            <div class="invalid-feedback">
                <div *ngIf="f.fecha_compra.errors.required">La fecha de adquisicion es obligatoria</div>
            </div>
        </div>
        <div class="form-row row justify-content-md-center">
            <div class="col mt-3">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es"
                    formControlName="factura" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.factura.errors}" accept="application/pdf"
                    (change)="fileChange($event)">
                <div *ngIf="submitted && f.factura.errors" class="invalid-feedback">
                    <div *ngIf="f.factura.errors.required">Por favor ingrese un PDF de la factura</div>
                </div>
            </div>
        </div> -->
        <br>
        <div class="card-footer text-center form-group">
            <button type="submit" class="btn btn-primary mr-3">Enviar</button>
        </div>
    </form>
    <br><br><br>
</div>