<form>
    <h3 style="text-align: center; margin-top: 10px;">Contactanos!</h3>
    <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="text" class="form-control" id="telefono" placeholder="Formato: (449) 999 999">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Correo electronico:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Dudas o sugerencias:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>