<form class="mt-4 mr-2 mb-3">
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-dark mb-3" [routerLink]="['/revisar-producto']">Atrás</button>
    </div>
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control align-bottom" placeholder="¿Qué Producto Estás Buscando?">
    </div>
  </div>
</form>
<div class="col mt-5">
  <div>
    <h3 class="row-md-12 text-center">SOLICITUD DE PRESTAMO</h3>
  </div>

</div>
<div class="container-md" style="margin-bottom: 45px;">
  <div class="row">

    <div class="col-xl-12" *ngIf="this.inventarioFiltrado; else noinventarioFiltrado">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">ID de Producto</th>
            <th scope="col">Numero de Serie</th>
            <th scope="col">Imagen</th>
            
            <th scope="col">Solicitar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of this.inventarioFiltrado; let idx = index">
            <th scope="row">{{ producto.inv_id }}</th>
            <td>{{ producto.prod_nombre }}</td>
            <td>{{ producto.prod_id }}</td>
            <td>{{ producto.inv_nserie }}</td>
            <td>
              <img class="w-100" src="/static/{{ producto.prod_imagen_referencia }}" alt="" srcset="">
            </td>
            <td><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalSolicitar" 
              (click)="obtenerID(producto.prod_id, idx)">Solicitar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noinventarioFiltrado>
      <div>
        <h3>No existen productos, intenta crear uno.</h3>
      </div>
    </ng-template>
  </div>
</div>



<div class="modal fade" id="modalSolicitar" tabindex="-1" role="dialog" aria-labelledby="consultaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="consultaModalLabel">Solicitar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quieres hacer una solicitud de este producto?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="solicitudProducto()">Solicitar</button>
      </div>
    </div>
  </div>
</div>