<div class="galeria">
    
    <div class="contenedor-imagenes">
        
        <div *ngIf="!this.autenticado" class="imagen">
            <img src="../../../assets/images/iniciar_sesion3.png" alt="Option 1">
            <a [routerLink]="['/inicio-sesion']"><div class="overlay">
                <h2>Iniciar Sesion</h2>
            </div></a>

            <!--<a href="../../../assets/Projects/Project Intro_Page_1.png" data-lightbox="image-1" data-title="Project 1">
                <div class="overlay">
                    <h2>Villegas STEAM Academy <br> Riverside, CA</h2>
                </div> 
            </a>-->
        </div>
        <div *ngIf="this.autenticado" class="imagen">
            <img src="../../../assets/images/revisar2.png" alt="Option 2">
            <a [routerLink]="['/revisar-producto']">
                <div class="overlay">
                    <h2>Gestion De Productos</h2><br>
                </div>
            </a>
        </div>
        <div *ngIf="this.autenticado" class="imagen">
            <img src="../../../assets/images/mantenimiento.png" alt="Option 3">
            <a [routerLink]="['/mantenimiento']">
                <div class="overlay">
                    <h2>Revisar Mantenimiento</h2>
                </div></a>
        </div>
        <div *ngIf="this.autenticado" class="imagen">
            <img src="../../../assets/images/solicitar.jpg" alt="Option 4">
            <a [routerLink]="['/solicitud']"><div class="overlay">
                <h2>Solicitar Prestamo <br>De Inventario</h2>
            </div></a>
        </div>
        <div *ngIf="this.autenticado" class="imagen">
            <img src="../../../assets/images/configuracion.png" alt="Option 5">
            <a [routerLink]="['/']"><div class="overlay">
                <h2>Configuracion</h2>
            </div></a>
            <!--<a href="projects/#img5"><div class="overlay">
                <h2>Fanning Secondary School <br>Lima - Peru</h2>
            </div></a>-->
        </div>
        <div *ngIf="this.autenticado" class="imagen">
            <img src="../../../assets/images/proveedor.jpg" alt="Option 7">
            <a [routerLink]="['/proveedores']"><div class="overlay">
                <h2>Proveedores</h2>
            </div></a>
        </div>
        <div *ngIf="this.autenticado" class="imagen">
            <img src="../../../assets/images/ubicacion.jpeg" alt="Option 8">
            <a [routerLink]="['/ubicaciones']"><div class="overlay">
                <h2>Ubicaciones</h2>
            </div></a>
        </div>
        <div class="imagen">
            <img src="../../../assets/images/ayuda.jpg" alt="Option 6">
            <a [routerLink]="['/']"><div class="overlay">
                <h2>Ayuda</h2>
            </div></a>
        </div>
    </div>
</div>
