<button class="btn btn-dark mt-2 mr-2" (click)="isnull()" [routerLink]="['/revisar-producto']">Atrás</button>

<div class="p-3">
  <h3>Gestión de consumibles</h3>
  <button class="float-right btn btn-primary" (click)="this.create = !this.create;">Añadir consumible nuevo</button>
  <br><br>
  <table *ngIf="this.consumibles; else nohay" class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>SKU</th>
      <th>Cantidad</th>
      <th>Descripcion</th>
      <th>Proveedor</th>
    </tr>
    <!--  Arreglo que corresponda a cada formulario -->
    <tr *ngFor="let prov of this.consumibles; let idx = index">
      <td><input class="form-control" id="id-{{ idx }}" type="text" value="{{ prov.id }}" disabled></td>
      <td><input class="form-control" id="nombre-{{ idx }}" type="text" value="{{ prov.nombre }}"
          [disabled]="!this.editable[idx]"></td>
      <td><input class="form-control" id="sku-{{ idx }}" type="text" value="{{ prov.sku }}"
          [disabled]="!this.editable[idx]"></td>
      <td><input class="form-control" id="cantidad-{{ idx }}" type="number" step="1" value="{{ prov.cantidad }}"
          [disabled]="!this.editable[idx]"></td>
      <td><input class="form-control" id="descripcion-{{ idx }}" type="text" value="{{ prov.descripcion }}"
          [disabled]="!this.editable[idx]"></td>
      <td>{{ prov.proveedor }}</td>
      <td><button class="btn btn-secondary"
          (click)="toggleEdicion(idx)">{{ this.editable[idx] ? 'Terminar' : 'Editar' }}</button></td>
      <td><button class="btn btn-danger" (click)="eliminarConsumible(prov.id)">Eliminar</button></td>
    </tr>
  </table>
  <ng-template #nohay>
    <h3>No tienes registrados consumibles.</h3>
  </ng-template>
</div>

<div class="container-md pt-5" id="contenedor" style="margin-bottom: 45px;" *ngIf="this.create">
  <div class="starter-template">
    <div class="card">
      <div class="card-body">

        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">

          <div>
            <h3 class="justify-content-md-center">AGREGAR CONSUMIBLE</h3>
          </div>

          <div class="form-group">
            <label for="nombre">Nombre del consumible</label>
            <input type="text" formControlName="nombre" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.nombre.errors}">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Por favor ingrese el nombre del consumible</div>
            </div>
          </div>

          <div class="form-group">
            <label for="num_serie">SKU</label>
            <input type="text" formControlName="num_serie" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.num_serie.errors}">
            <div *ngIf="submitted && f.num_serie.errors" class="invalid-feedback">
              <div *ngIf="f.num_serie.errors.required">Por favor ingrese el SKU</div>
            </div>
          </div>

          <div class="form-group">
            <label for="cantidad">Cantidad</label>
            <input type="number" step="1" min="0" formControlName="cantidad" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.cantidad.errors}">
            <div *ngIf="submitted && f.cantidad.errors" class="invalid-feedback">
              <div *ngIf="f.cantidad.errors.required">Por favor ingrese la cantidad inicial</div>
            </div>
          </div>

          <div class="form-group">
            <label for="empresaSelect">Proveedor</label>
            <select formControlName="proveedor" class="form-control custom-select" id="empresaSelect"
              [ngClass]="{'is-invalid': submitted && f.proveedor.errors}">
              <option *ngFor="let comp of empresas;" [value]="comp.id">{{ comp.razsoc }}</option>
            </select>
            <div *ngIf="submitted && f.proveedor.errors" class="invalid-feedback">
              <div *ngIf="f.proveedor.errors.required">Por favor ingrese el proveedor</div>
            </div>


          </div>


          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea formControlName="descripcion" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.descripcion.errors}"></textarea>
            <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
              <div *ngIf="f.descripcion.errors.required">Por favor ingrese una descripcion</div>
            </div>
          </div>

          <div class="form-group" style="text-align: center; margin-top: 20px;">
            <button class="btn btn-primary">Enviar</button>
          </div>

        </form>
      </div>
    </div>

  </div>

</div>