<button class="btn btn-dark mt-2 mr-2" (click)="isnull()" [routerLink]="['/revisar-producto']">Atrás</button>
<div *ngIf="globals.producto === true else tituloConsumible">
  <h3 class="row justify-content-md-center">CAMBIOS INVENTARIO</h3>
</div>

<ng-template #tituloConsumible>
  <h3 class="row justify-content-md-center">CAMBIOS CONSUMIBLE</h3>
</ng-template>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Imagen de Referencia</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Modificar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button type="button" class="btn btn-outline-info">Cambiar</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button type="button" class="btn btn-outline-info">Cambiar</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td><button type="button" class="btn btn-outline-info">Cambiar</button></td>
      </tr>
    </tbody>
  </table>