<form class="mt-4 mr-2 mb-3">
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-dark mb-3" [routerLink]="['/revisar-producto']">Atrás</button>
    </div>
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control align-bottom" placeholder="¿Qué Producto Estás Buscando?">
    </div>
  </div>
</form>
<div class="col mt-5">
  <div>
    <h3 class="row-md-12 text-center">SOLICITUDES DE PRÉSTAMO</h3>
  </div>

</div>
<div class="container-md" style="margin-bottom: 45px;">
  <div class="row">
    <div class="col-xl-10" *ngIf="this.solicitudes; else nosolicitudes">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Estado</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">ID de Inventario</th>
            <th scope="col">Aceptar Solicitudes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of this.solicitudes">
            <th scope="row">{{ solicitud.id }}</th>
            <td>{{ solicitud.estado }}</td>
            <td>{{ solicitud.solicitante }}</td>
            <td>{{ solicitud.fecha_creacion }}</td>
            <td>{{ solicitud.inventario_id }}</td>
            <td><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalSolicitar" 
              (click)="obtenerID(producto.id)">Aceptar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #nosolicitudes>
      <div>
        <h3>No existen solicitudes.</h3>
      </div>
    </ng-template>
  </div>
</div>



<div class="modal fade" id="modalSolicitar" tabindex="-1" role="dialog" aria-labelledby="consultaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="consultaModalLabel">Solicitar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que quieres hacer una solicitud de este producto?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Solicitar</button>
      </div>
    </div>
  </div>
</div>