<form class="mt-4 mr-2 mb-3">
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-dark mb-3" [routerLink]="['/revisar-producto']">Atrás</button>
    </div>
  </div>
</form>
<div class="col mt-5">
  <div>
    <h3 class="row-md-12 text-center">SOLICITUDES DE PRÉSTAMO</h3>
  </div>

</div>
<div class="container-md" style="margin-bottom: 45px;">
  <div class="row">
    <div class="col-xl-12" *ngIf="this.solicitudes; else nosolicitudes">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Número de Serie</th>
            <th scope="col">Estado</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">ID de Inventario</th>
            <th scope="col">Aceptar Solicitudes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of this.solicitudes; let idx = index">
            <th scope="row">{{ solicitud.sol_id }}</th>
            <td>{{ solicitud.prod_nombre }}</td>
            <td>{{ solicitud.inv_nserie }}</td>
            <td> Solicitado </td>
            <td>{{ solicitud.usr_nombre }} {{solicitud.usr_apepat}}</td>
            <td>{{ solicitud.sol_fecha_creacion }}</td>
            <td>{{ solicitud.sol_inventario_id }}</td>
            <td><button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalSolicitar" 
            (click)="index(idx)"  >Aceptar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #nosolicitudes>
      <div>
        <h3>No existen solicitudes.</h3>
      </div>
    </ng-template>
  </div>
</div>



<div class="modal fade" id="modalSolicitar" tabindex="-1" role="dialog" aria-labelledby="consultaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="consultaModalLabel">Solicitar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="this.form">
          <div class="card-header">
            <h5>Filtros</h5>
          </div>
          <div class="card-body">
            <div id="busqueda">
              <div class="form-group">
                <h6 class="card-title">Fecha Estimada</h6>
                <input type="date" class="form-control" name="busqueda" [(ngModel)]="date" formControlName="fechaEsperada">
              </div>
            </div>
          </div>
        </form>
        <p>¿Seguro que quieres hacer una solicitud de este producto?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="aceptarSolicitud()">Solicitar</button>
      </div>
    </div>
  </div>
</div>