<button class="btn btn-dark mt-2 mr-2" [routerLink]="['/']">Atrás</button>

<div class="container-md pt-5" id="contenedor" style="margin-bottom: 50px;">
    <div class="card">
        <div class="card-body">
            <h3 class="mb-4">Iniciar Sesión</h3>
            <form [formGroup]="formulario" (ngSubmit)="login()">
                <div class="from-group">
                    <label>Correo Electrónico</label>
                    <input type="text" formControlName="email" [(ngModel)]="correo" class="form-control"
                        [ngClass]="{'is-invalid': f.email.touched && f.email.errors }">
                    <div class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">El email es obligatorio</div>
                        <div *ngIf="f.email.errors.email">Por favor, ingresa un email válido</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <div class="input-group">
                        <input ID="txtPassword" [type]="globals.passwordLogin" [(ngModel)]="password" formControlName="contrasena" class="form-control" [ngClass]="{'is-invalid': submitted && f.contrasena.errors}">
                        <!--<input type="password" fromControl="contrasena" class="form-control" [ngClass]="{'is-invalid': submitted && f.contrasena.errors }">-->
                        <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                            <div *ngIf="f.contrasena.required">Por favor, ingrese su contrasena</div>
                        </div>
                        <div class="input-group-append">
                            <button id="show_password" (click)="showPassword()" class="btn btn-primary" type="button"> <span class="fa fa-eye-slash icon"></span> </button>
                        </div>
                        
                    </div>


                </div>

                <!--<div class="form-group">
                    <label for="exampleFormControlInput1">Correo Electrónico</label>
                    <input type="email" class="form-control" [(ngModel)]="email" formControlName="correo"
                        id="exampleFormControlInput1" placeholder="nombre@ejemplo.com" />
                </div>

                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <div class="input-group">
                        <input ID="txtPassword" [type]="globals.passwordLogin" [(ngModel)]="password"
                            formControlName="contrasena" Class="form-control">
                        <div class="input-group-append">
                            <button id="show_password" (click)="showPassword()" class="btn btn-primary" type="button">
                                <span class="fa fa-eye-slash icon"></span> </button>
                        </div>
                    </div>
                </div>-->

                <div class="card-footer text-center form-group">
                    <button type="submit" class="btn btn-primary mr-3">Iniciar Sesión</button>
                    <button type="button" [routerLink]="['/alta-usuario']"
                        class="btn btn-secondary ml-3">Registrarse</button>
                </div>
            </form>
        </div>

    </div>
</div>