<button class="btn btn-dark mt-2 mr-2" (click)="isnull()" [routerLink]="['/revisar-producto']">Atrás</button>
<div *ngIf="globals.producto === true else tituloConsumible">
    <h3 class="row justify-content-md-center">ELIMINAR INVENTARIO</h3>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen de Referencia</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>



  </div>

  <ng-template #tituloConsumible>
    <h3 class="row justify-content-md-center">ELIMINAR CONSUMIBLE</h3>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen de Referencia</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Modificar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
  </ng-template>